/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/input-group";

.wp-block-sbb-twoplustwo-compound-interest  {
    .components-base-control__field {
        margin: 0;
        margin-right: 1rem;
    }

    input.components-text-control__input {
        @extend .form-control;
        margin: 0;
    }

    input.form-control,
    .components-text-control__input,
    .form-group {
        font-size: 16px;
    }

    .btn {
        font-family: sans-serif;
    }

    .btn-primary:active,
    .btn-primary:focus {
        background-color: $primary;
    }
}
